- if user_signed_in?
	- trial = current_user.read_attribute(:trial)
	- if trial != true
		- current_user.update_attribute(:days, 5)
		- current_user.update_attribute(:trial, true)
		- current_user.update_attribute(:evernote_key, "")
		- current_user.update_attribute(:instagram_key, "")
		- current_user.update_attribute(:facebook_key, "")
		- current_user.update_attribute(:twitter_key, "")
		- current_user.update_attribute(:twitter_secret, "")
		- current_user.update_attribute(:twitter_status, "")
		- current_user.update_attribute(:instagram_status, "")
		- current_user.update_attribute(:evernote_status, "")
		- current_user.update_attribute(:pocket_status, "")
		- current_user.update_attribute(:dropbox_status, "")
		- current_user.update_attribute(:dropbox_key, "")
		- current_user.update_attribute(:dropbox_secret, "")
		- current_user.update_attribute(:tweet, "")
		- current_user.update_attribute(:follower_array, "[]")
		- current_user.update_attribute(:tweet_quantity, 0)
		- current_user.update_attribute(:reachcount, 0)
	- twitter_status = current_user.read_attribute(:twitter_status)
	- task_status = current_user.read_attribute(:task_status)
	- metascore = current_user.read_attribute(:data_metascore)
	- days = current_user.read_attribute(:days)
	- todayrt = current_user.read_attribute(:todayrt)
	- todayfv = current_user.read_attribute(:todayfv)
	- todayactivity = current_user.read_attribute(:todayactivity)
	- metascore = "#{metascore}".split(", ").map(&:to_i)
	- averager = current_user.read_attribute(:data_averager)
	- averager = "#{averager}".split(", ").map(&:to_i)
	- averagef = current_user.read_attribute(:data_averagef)
	- averagef = "#{averagef}".split(", ").map(&:to_i)
- if twitter_status == "PENDING"
	.alert.alert-info.confirm-schedule
		%p Remember to click Confirm, else the connection won't work!
	= form_tag follow_task_path(:id => 'analyse_tweet'), method: 'GET' do
		= hidden_field_tag :twitter_client, session[:twitter_client]
		= hidden_field_tag :twitter_verifier, params[:oauth_verifier]
		= hidden_field_tag :twitter_token, session[:twitter_token]
		= hidden_field_tag :twitter_token_secret, session[:twitter_token_secret]
		= hidden_field_tag :twitter_status, "PENDING"
		= submit_tag 'Confirm Twitter', class: 'btn btn-analyse-tweet'
- elsif twitter_status == "AUTHORISED" && task_status == "AUTHORISED"
	%p.center.helpgrowth Deeper Insights.
	%p.center.taghelpgrowth Keeping track of everything going on allows you to make smarter decisions.
	= form_tag follow_task_path(:id => 'analyse_tweet'), method: 'GET' do
		= hidden_field_tag :twitter_key, current_user.read_attribute(:twitter_key)
		= hidden_field_tag :twitter_secret, current_user.read_attribute(:twitter_secret)
		= hidden_field_tag :task_status, "INACTIVE"
		= submit_tag 'Stop Analysing', class: 'btn btn-cancel-analyse-tweet'
	:javascript
		var lineChartData = {
			labels : ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],
			datasets : [
				{
					label: "Dataset",
					fillColor : "rgba(158,197,242,0.2)",
					strokeColor : "rgba(74,144,226,0.6)",
					pointColor : "#FFF",
					pointStrokeColor : "rgba(74,144,226,0.6)",
					pointHighlightFill : "#FFF",
					pointHighlightStroke : "rgba(74,144,226,0.6)",
					data : ["#{metascore[0]}", "#{metascore[1]}","#{metascore[2]}","#{metascore[3]}","#{metascore[4]}","#{metascore[5]}","#{metascore[6]}"]
				}
			]
		}

		var RetweetsLineChartData = {
			labels : ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],
			datasets : [
				{
					label: "Dataset",
					fillColor : "rgba(64,212,126,0.5)",
					strokeColor : "rgb(39,174,96)",
					pointColor : "rgba(64,212,126,1)",
					pointStrokeColor : "rgb(39,174,96)",
					pointHighlightFill : "rgb(39,174,96)",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : ["#{averager[0]}", "#{averager[1]}","#{averager[2]}", "#{averager[3]}","#{averager[4]}", "#{averager[5]}","#{averager[6]}"]
				}
			]
		}

		var FavouritesLineChartData = {
			labels : ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],
			datasets : [
				{
					label: "Dataset",
					fillColor : "rgba(231,76,60,0.5)",
					strokeColor : "rgb(192,57,43)",
					pointColor : "rgba(231,76,60,1)",
					pointStrokeColor : "rgb(192,57,43)",
					pointHighlightFill : "rgb(192,57,43)",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : ["#{averagef[0]}", "#{averagef[1]}","#{averagef[2]}","#{averagef[3]}","#{averagef[4]}","#{averagef[5]}","#{averagef[6]}"]
				}
			]
		}

		var data = [
		    {
		        value: 300,
		        color:"#53C376",
		        highlight: "#53C376",
		        label: "Sprout"
		    },
		    {
		        value: 500,
		        color: "#319BC2",
		        highlight: "#319BC2",
		        label: "Buffer"
		    },
		    {
		        value: 100,
		        color: "#31BDF1",
		        highlight: "#31BDF1",
		        label: "Hootsuite"
		    }
		]

		$(function() { $( document ).tooltip(); });

		window.onload = function(){
			var ctx = document.getElementById("one").getContext("2d");
			window.myLine = new Chart(ctx).Line(lineChartData, {
				responsive: false, scaleShowGridLines: false
			});

			var ctx2 = document.getElementById("two").getContext("2d");
			window.myLine = new Chart(ctx2).Radar(RetweetsLineChartData, {
				responsive: false, scaleShowGridLines: false
			});

			var ctx3 = document.getElementById("three").getContext("2d");
			window.myLine = new Chart(ctx3).Radar(FavouritesLineChartData, {
				responsive: false, scaleShowGridLines: false
			});

			var ctx4 = document.getElementById("four").getContext("2d");
			window.myLine = new Chart(ctx4).Line(lineChartData, {
				responsive: true, bezierCurve: false
			});
		}
	.container
		.row.row-centered
			.col-md-12
				.panel.panel-default
					.panel-body.stats
						.group
							= label_tag(:hashtag, 'Activity', class: 'floatleft')
					.reachcount.centered #{todayactivity}
			.col-md-6
				.panel.panel-default
					.panel-body.stats
						.group
							= label_tag(:hashtag, 'Retweets', class: 'floatleft')
					.reachcount.centered #{todayrt}
					.peoplereached.centered 
			.col-md-6
				.panel.panel-default
					.panel-body.stats
						.group
							= label_tag(:hashtag, 'Favourites', class: 'floatleft')
					.reachcount.centered #{todayfv}
					.peoplereached.centered 
- elsif twitter_status == "AUTHORISED" 
	= form_tag follow_task_path(:id => 'analyse_tweet'), method: 'GET' do
		= hidden_field_tag :twitter_key, current_user.read_attribute(:twitter_key)
		= hidden_field_tag :twitter_secret, current_user.read_attribute(:twitter_secret)
		= hidden_field_tag :task_status, "AUTHORISED"
		= submit_tag 'Start Analysing', class: 'btn btn-analyse-tweet'
- else
	= form_tag follow_task_path(:id => 'analyse_tweet'), method: 'GET' do
		= hidden_field_tag :twitter_status, "NONE"
		= submit_tag 'Connect Twitter', class: 'btn btn-analyse-tweet'